# Although the Readline library comes with a set of
# Emacs-like keybindings installed by default, it is
# possible to use a different set of keybindings.
# Any user can customize programs that use Readline
# by putting commands in an inputrc file.

# Use rlwrap -a program_name to always readline a program
set editing-mode vi

# Binds Ctrl+l to 'clear screen'.
C-l: clear-screen

